
.date-input {
    padding: 0px 10px;
    background: white;
    height: 36px;
    border: 1px solid white;
    border-radius: 4px;
}

.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root{
    background-color: white;
}