@import "../src/assets/styles/font.scss";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }



// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
//     -webkit-appearance: none !important;
// }


// *::-webkit-scrollbar {
//     width: 10px;
//     height: 20px;
// }

// /* Track */
// *::-webkit-scrollbar-track {
//     background: #00000000;
//     // border-radius: 10px;
// }

// /* Handle */
// *::-webkit-scrollbar-thumb {
//     background-color: #4d94e4 !important;
//     border-radius: 10px;
// }
